.hero_subtitle img {
    width: 4rem;
    height: 4rem;
}

.hero_content h1 {
    font-size: 3.2rem;
    font-weight: 600;
    margin-top: 1rem;
    margin-bottom: 2rem;
    color:var(--heading-color);
}

.hero_content h1 .highlight{
    background: var(--gradient-bg);
    -webkit-background-clip: text; 
    -webkit-text-fill-color: transparent; 
    /* color:var(--secondary-color); */
}

.hero_content p{
    font-size: 1.1rem;
    color: var(--text-color);
    line-height: 2rem;
}

.hero_img-box img, .hero_img-box video{
    width:100%;
    height:350px;
    border-radius: 20px;
    border: var(--secondary-border);
    object-fit: cover;
}

.hero_content{
    padding-top: 3.5rem;

}

.hero_img-box{
    padding-top: 2rem;
}

.services_subtitle{
    font-size: 2.5rem;
    font-weight: 500;
    color:var(--secondary-color);
    /* font-family: var(--subtitle-font-name); */
}

.services_title{
    font-size: 2rem;
    font-weight: 500;
}

.featured__tour-title {
    font-size: 2rem;
    font-weight: 500;
}

.experience_content h2{
    font-size: 2rem;
    margin-top: 1rem;
    font-weight: 500;
}

.experience_content p{
    font-size: 1.1rem;
    color:var(--text-color);
    margin-top: 1rem;
}

.counter_wrapper{
    margin-top: 2.5rem;
}

.counter_box span{
    width: 80px;
    height:80px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--primary-color);
    font-size: 1.6rem;
    font-weight: 600;
    border-radius: 10px 5px 10px 5px;
}

.counter_box h6{
    font-size: 1.1rem;
    margin-top: 0.7rem;
    color:var(--text-color);
}

.experience_img img{
    width: 90%;
}

.gallery_title{
    font-size: 2rem;
    margin-bottom: 2.5rem;
    margin-top: 0.5rem;
}

.masonry_img{
    transition: all 200ms ease;
    filter: saturate(0.15);
}
.masonry_img:hover{
    transform: scale(1.01);
    filter: saturate(1);
}

.testimonial_title{
    font-size: 2rem;
    margin-top: 0.5rem;
}
 
 @media only screen and (max-width: 576px) {
    .hero__content h1 {
       font-size: 1.8rem;
    }
 
    .services_title,
    .featured__tour-title,
    .gallery__title,
    .testimonial_title,
    .experience_content h2 {
       font-size: 1.5rem;
    }
 }