.login__img {
    width     : 60%;
    text-align: center;
 }
 
 .login__img img {
    width     : 70%;
    object-fit: contain;
 }
 
 .login__form {
   z-index: 3;
    padding   : 50px;
    background: var(--primary-bg);
    position  : relative;
    border-radius: inherit;
 }
 
 .login__container {
    box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
    margin: 70px 0;
 }
 
 .login__form .user {
    width    : 80px;
    height   : 80px;
    position : absolute;
    top      : -30px;
    left     : 50%;
    transform: translate(-50%, -9%);
 }
 
 .login__form .user img {
    width: 100%;
 }
 
 .login__form h2 {
    color        : #fff;
    text-align   : center;
    margin-bottom: 2rem;
 }
 
 
 .login__form input {
    width        : 100%;
    padding      : 0.5rem 0.5rem;
    border-radius: 5px;
    border       : none;
    font-size    : 1rem;
    background: transparent;
    border-bottom: var(--secondary-border);
    border-radius: 2px;
    color        : var(--text-color);
    font-weight: 500;
 }
 
 .login__form input:focus {
    outline: none;
    border-bottom: 2px solid var(--secondary-color);
 }
 
 .login__form p {
    font-size : 0.8rem;
    color     : var(--text-color);
    margin-top: 1rem;
    text-align: center;
 }
 
 .login__form p a {
    color          : var(--heading-color);
    text-decoration: none;
    margin-left    : 2px;
    font-weight    : 500;
 }
 .login__form p a:hover{
   color: var(--secondary-color);
 }
 
 .auth__btn {
    background: var(--text-color) !important;
    width     : 100%;
    color     : black !important;
 }
 .auth__btn:hover{
   background: var(--secondary-color) !important;
 }
 
 /* =============== RESPONSIVE ================ */
 @media only screen and (max-width: 768px) {
    .login__img {
       display: none;
    }
 
    .login__form {
       /* width : 70%; */
       /* margin: auto; */
    }
 
    .login__container {
       padding-bottom: 3rem;
       /* margin-top    : 70px; */
       width: 70%;
       margin: 70px auto 0;
    }
 }

.login__form-wrapper{
   position: relative;
   margin: auto;
   width: fit-content;
   isolation: isolate;
   border-radius: 16px;
}

 
 @media only screen and (max-width: 576px) {
   .register__form{
      width: 100%;
   }

    .login__form {
       width: 100%;
    }
 
    .login__container {
       padding-bottom: 1rem;
    }
 }

 .register__form{
   width: clamp(300px, 100%, 400px);
}