.tour__content img {
    width: 100%;
    border-radius: .5rem;
    margin-bottom: 2.5rem;
}

.tour__info, .tour__reviews {
    border-radius: .5rem;
    border: var(--secondary-border);
    padding: 2rem;
    background-color: var(--card-color);
}

.tour__info h2 {
    font-size: 1.5rem;
}

.tour__info span {
    display: flex;
    align-items: center;
    column-gap: 0.5rem;
    font-style: 1rem;
    color: var(--text-color);
}

.tour__info span i {
    color: var(--heading-color);
    font-size: 1.1rem;
}

.tour__extra-details {
    display: flex;
    align-items: center;
    column-gap: 2.7rem;
    margin-top: 1rem;
    margin-bottom: 2.5rem;
}

.tour__info h5 {
    margin-bottom: 1rem;
    font-size: 1.3rem;
}

.tour__info p {
    line-height: 30px;
    font-size: 1rem;
    color: var(--text-color);
}

.rating__group span{
    font-size: 1.1rem;
    display: flex;
    align-items: center;
    color: var(--text-color);
    cursor:pointer;
}

.rating__group span:hover{
    color: var(--secondary-color)
}
.tour__reviews h4{
    margin-bottom: 3rem;

}

.review__input{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width:100%;
    /* padding:0.7rem; */
    /* border-radius: 2rem; */
    border-radius: 8px;
    border: var(--secondary-border);
    transition: all 200ms ease;
}

.review__input input{
    width: 100%;
    /* padding: 0.5rem 0; */
    margin: 0 1rem;
    border: none;
    /* border-bottom: var(--secondary-border); */
    background-color: transparent;
    color: var(--text-color);
}

.review__input input:focus{
    outline: none;
    /* border-bottom: 2px solid var(--secondary-color); */
}
.review__input:focus-within{
    border: 2px solid var(--secondary-color);
}

.submit_btn{
    padding: 0.75rem 1rem !important;
    border-radius: 0 8px 8px 0 !important;
    color: var(--text-color) !important;
    background: var(--card-color) !important;
    height: 100%;
}
.submit_btn:hover{
    background-color: var(--secondary-color) !important;
    color: black !important; 
}

.tour__extra-details span i, .ri-map-pin-fill::before{
    color: var(--secondary-color);
}

.review__item{
    display: flex;
    align-items: center;
    column-gap: 1rem;
    margin-bottom: 2rem;
}

.review__item img{
    width:3.5rem;
    height:3.5rem;
    border-radius: 50px;
    object-fit: cover;
}

.user__reviews{
    margin-top: 2.5rem;

}

.review__item h5{
    font-size:1rem;
    margin-bottom: 0;
}

.review__item p{
    font-size: 0.9rem;
    color:var(--text-color);
}

.review__item h6{
    font-size: 1.1rem;
    color:var(--text-color);
}

.review__item span i{
    font-size: 1.2rem;
    color:var(--secondary-color);
}

.review__item span{
    font-weight: 500;
}

/* =============== RESPONSIVE ================ */
@media only screen and (max-width: 768px) {
    .tour__extra-details {
       flex-wrap: wrap;
       row-gap: 1rem;
    }
 
    .tour__extra-details span {
       font-size: 0.9rem;
    }
 
    .tour__extra-details span i {
       font-size: 1rem;
    }
 }  

