.service_item{
    padding: 1rem;
    border-bottom: var(--secondary-border);
    border-right: var(--secondary-border);
    border-radius: 0.5rem;
}

@media (max-width: 1000px){
    .service_item{
        margin-bottom: 4rem;
    }
}

.service_img{
    width:50px;
    height:50px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50px;
    background: var(--primary-icon);
    padding: 0.5rem;
    margin-bottom: 1rem;
    line-height: 50px;
}

.service_img img{
    width: 100%;
}

.service_item h5{
    font-size: 1.1rem;
    font-weight: 500;
}

.service_item p{
    font-size: 0.9rem;
    color:var(--text-color);
}
