@import url("https://fonts.googleapis.com/css2?family=Island+Moments&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap");

:root {
  --primary-color: #00DC82;
  --secondary-color: #00DC82;
  --primary-icon: #1c835b;
  --heading-color: #fff;
  --text-color: #b1c0d6;
  --font-name: "Montserrat", sans-serif;
  --subtitle-font-name: "Island Moments", cursive;

  --gradient-bg: linear-gradient(
        to right,
        rgb(0, 220, 130),
        rgb(54, 228, 218),
        rgb(22, 167, 158)
    );
    --primary-bg: linear-gradient(
      #010213,
      #0b111d,
      #010213
    );
  --border-r: 20px;
  --card-color: #10172E;
  --secondary-border: 2px solid #394364;
  --inactive-color: #394364;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--font-name);
}


::selection{
  background-color: var(--secondary-color);
  color: black;
}

/* scroll-bar starts here */
body::-webkit-scrollbar{
  width: 0.5rem;
}

body::-webkit-scrollbar-track{
  background: var(--primary-bg);
}

body::-webkit-scrollbar-thumb{
  background: var(--text-color);
  border-radius: 0.125rem;
}
/* scroll-bar ends here */


section {
  padding: 50px 0px;
  background: var(--primary-bg);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--heading-color);
}

a {
  text-decoration: none;
  color: unset;
}
ul {
  list-style: none;
}

.primary__btn a{
  text-decoration: none;
  color: rgb(224, 224, 224);
}
.primary__btn a:hover{
  color: rgb(255, 255, 255);
}
.primary__btn {
  /* background: var(--secondary-color) !important;
  border: none !important;
  border-radius: 50px !important; */
  padding: 0.25rem 1rem !important;
  font-size: 1.125em !important;
  cursor: pointer !important;
  border-radius: 12.5px !important;
  
  position: relative !important;
  border: none !important;
  background-color: rgb(0, 0, 32) !important;
  transition: all 200ms ease !important;
}
.primary__btn:hover{
  color: white !important;
  background-color: black !important;
}

.primary__btn::before {
  content: "" !important;
  position: absolute !important;
  background: linear-gradient(
      to right,
      rgb(0, 220, 130),
      rgb(54, 228, 218),
      rgb(22, 167, 158)
  ) !important;
  inset: -2px !important;
  z-index: -1 !important;
  border-radius: 12.5px !important;
  transition: all 200ms ease !important;
}

.primary__btn:hover::before {
  box-shadow: rgba(0, 220, 130, 0.5) 0px 0px 10px 0px,
      rgba(54, 228, 218, 0.5) 0px 0px 20px 0px !important;
}




/* .primary__btn a {
  font-size: 1.1rem;
  text-decoration: none;
  color: #fff;
} */
/* .primary__btn a:hover {
  color: inherit;
} */
.secondary__btn {
  background: transparent !important;
  color: #0b2727 !important;
  border: none !important;
  font-weight: 500 !important;
}

.secondary__btn a {
  text-decoration: none;
  font-size: 1.1rem;
  color: var(--heading-color);
}

.secondary__btn a:hover {
  color: var(--secondary-color);
}

.section_subtitle {
  /* background: #1E293B; */
  /* font-family: var(--subtitle-font-name); */
  /* width: max-content; */
  /* padding: 5px 1rem 10px; */

  /* border-radius: var(--border-r); */
  font-weight: 500;
  font-size: 2.5rem;
  color: var(--secondary-color);
}


@media only screen and (max-width: 992px) {
  .primary__btn a, .secondary__btn a {
    font-size: 0.9rem;
  }

  .primary__btn, .secondary__btn, .btn-dark {
    padding: 0.2rem 1.1rem !important;
  }
  .section{
    padding: 40px 0;;
  }
}

@media only screen and (max-width: 768px) {
  .section__subtitle {
    font-size: 1.3rem;
  }
}